<div class="row">
	<div class="content-header">
		<h1>Contas Bancáris <small>Gerenciamento de Contas</small></h1>
		<div class="grey-text">
			<small>
				<a href="">iFinance</a>
				<span>Suas contas</span>
			</small>
		</div>
	</div>

	<div class="card col s12">
		<div class="card-content">
			<table class="highlight">
				<thead>
					<tr>
						<th>Contas</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let account of accounts" [routerLink]="['/accounts/' + account.id]">
						<td>
							{{account.title}}
							<small>Agência: {{account.agency}} / Conta:  {{account.account_number}} / Código do Banco: {{account.bank_id}}</small>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card-action">
			<a [routerLink]="['/accounts/new']">Nova Conta</a>
		</div>
	</div>
</div>